body 
{

   background: url(images/testfon.png);

} 
div.menu
{
  background: #AE964C;
  color:black;
  font-size: 32px;
  margin: auto;
  width: 2400px;
  opacity:0.5;
}
h1
{
    color:white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
h2
{
    color:orangered;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
h3
{
    color:orangered;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
